In [ ]:
"""
Q1. Create one variable containing following type of data:

(i)	string

(ii) list

(iii) float

(iv) tuple
"""

In [ ]:
#Answer 1

In [ ]:
var_string = 'Shyam' #string

In [ ]:
var_list = [1,4,True,"pwskills"] #list

In [ ]:
var_float = 4.323 #Float

In [ ]:
var_tuple = (1,2,True,"pwskills") #tuple

In [ ]:
"""
Q2. Given are some following variables containing data:

(i)	var1 = ' '

(ii) var2 = '[ DS , ML , Python]'

(iii) var3 = [ 'DS' , 'ML' , 'Python' ]

iv)	var4 = 1.

What will be the data type of the above given variable.

"""

In [ ]:
#Answer 2

In [3]:
var1 = ' '
type(var1)
#Solution : String

str

In [4]:
var2 = '[ DS , ML , Python]'
type(var2)
#Solution : String

str

In [5]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)
#Solution : List

list

In [6]:
var4 = 1
type(var4)
#Solution : Integer

int

In [ ]:
"""
Q3. Explain the use of the following operators using an example:

(i)	/

(ii) % 

(iii) //

(iv) **
"""

In [ ]:
#Answer 3

In [7]:
# / Operator -->This is used for division and returns the value of quotient
19 / 4

4.75

In [8]:
# % Operator -->This operator gives the value of the remainder ( Modulus Operator )
5 % 3

2

In [9]:
# // Operator -->This operator gives us the rounded or floor value of the quotient
5 // 3

1

In [10]:
# ** Operator -->This operator returns the exponential value
2 ** 3 #2 to the power of 3, will return 8

8

In [ ]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.
"""

In [ ]:
#Answer 4

In [13]:
my_list = [1, 4.54 , True , 'Hello' , 'pwskills' , 4+7j , 34 , 'data science' , 123 , 6.87]

for item in my_list:
    print(item)
    print(type(item))
    print("\n")

1
<class 'int'>


4.54
<class 'float'>


True
<class 'bool'>


Hello
<class 'str'>


pwskills
<class 'str'>


(4+7j)
<class 'complex'>


34
<class 'int'>


data science
<class 'str'>


123
<class 'int'>


6.87
<class 'float'>

In [15]:
#Alternate solution of Answer 4
my_list = [1, 4.54 , True , 'Hello' , 'pwskills' , 4+7j , 34 , 'data science' , 123 , 6.87]

for i,item in enumerate(my_list):
    print(f"{i+1}. {item} --> {type(item)}")

1. 1 --> <class 'int'>
2. 4.54 --> <class 'float'>
3. True --> <class 'bool'>
4. Hello --> <class 'str'>
5. pwskills --> <class 'str'>
6. (4+7j) --> <class 'complex'>
7. 34 --> <class 'int'>
8. data science --> <class 'str'>
9. 123 --> <class 'int'>
10. 6.87 --> <class 'float'>

In [ ]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible."
"""

In [3]:
#Answer 5
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the number A:  1242
Enter the number B:  3

46 is divisible by 3 and can be divided 3 times.

In [ ]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.
"""

In [6]:
#Answer 6
v_list = list(range(1,26))
print(v_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [7]:
for value in v_list:
    if value%3 == 0:
        print(f"{value} is divisible by 3")
    else:
        print(f"{value} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.
"""

In [8]:
#Answer 7
"""
In mutable objects we can change the value of the object at any particular index, that is they can be modified. 
On the other hand immutable objects cannot be modified at any particular index
"""
#Mutable Object
l = [1, 2, 5]
l[2] = 'Data Science'
print(l)

[1, 2, 'Data Science']

In [9]:
#The value at index 2 changed

#Immutable Object
name = 'Ronak'
name[3] = j
print(name)

NameError: name 'j' is not defined

In [ ]:
#This will give error as strings are immutable.