In [ ]:
"""
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?
"""

In [ ]:
#Ans1:
"""
MongoDB is a popular open-source NoSQL (non-relational) database management system. It provides a flexible and scalable approach to storing
and managing data, allowing for the storage of unstructured, semi-structured, and structured data in a document-oriented format.

MongoDB is preferred in the following scenarios:

1. Data Model: MongoDB uses a document data model, where data is stored in flexible, JSON-like documents. These documents can have dynamic schemas, 
allowing for easy modification and addition of fields as needed.

2.Scalability: MongoDB supports sharding, which allows data to be partitioned and distributed across multiple machines, enhancing performance and 
scalability.

3.MongoDB has a flexible schema whereas MySQL has a rigid schema.

4.Performance: MongoDB can efficiently handle large volumes of data and provide faster read and write operations compared to SQL databases, 
especially for use cases that require frequent writes or real-time analytics.

"""

In [ ]:
"""
Q2. State and Explain the features of MongoDB.
"""

In [ ]:
#Ans 2:
"""
The features of MongoDB are:-

1. Data Model: MongoDB uses a document data model, where data is stored in flexible, JSON-like documents. These documents can have dynamic schemas, 
allowing for easy modification and addition of fields as needed.

2.Scalability: MongoDB supports sharding, which allows data to be partitioned and distributed across multiple machines, enhancing performance and 
scalability.

3.MongoDB has a flexible schema whereas MySQL has a rigid schema.

4.Performance: MongoDB can efficiently handle large volumes of data and provide faster read and write operations compared to SQL databases, 
especially for use cases that require frequent writes or real-time analytics.

"""

In [ ]:
"""
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
"""

In [4]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Ronak:Harekrishna@cluster0.ifc4fri.mongodb.net/?retryWrites=true&w=majority")

mydb = client["School"] #Creation of database School

my_collection = mydb["Student"]#Creation of Collection Student

#Inserting data in Collection Student 
my_collection.insert_one(
    {"name":"Ronak", "class" : "Data Science Masters"}
)

In [ ]:
"""
Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record.
"""

In [9]:
#Ans 4:
#Insert one

my_collection.insert_one(
    {"name" : "Krish",
     "class" : "Full Stack"
    }
)

In [10]:
#Insert Many

list_data = [
{"name" : "Guy1", "class" : "Full Stack 2"},
{"name" : "Guy2", "class" : "Full Stack 3"},
{"name" : "Guy3", "class" : "Full Stack 4"}
]

my_collection.insert_many(list_data)

In [12]:
#find

for item in my_collection.find():
    print(item)

{'_id': ObjectId('64955133d7ac6146571d6fa4'), 'name': 'Ronak', 'class': 'Data Science Masters'}
{'_id': ObjectId('649552e7d7ac6146571d6fa5'), 'name': 'Krish', 'class': 'Full Stack'}
{'_id': ObjectId('64955403d7ac6146571d6fa6'), 'name': 'Guy1', 'class': 'Full Stack 2'}
{'_id': ObjectId('64955403d7ac6146571d6fa7'), 'name': 'Guy2', 'class': 'Full Stack 3'}
{'_id': ObjectId('64955403d7ac6146571d6fa8'), 'name': 'Guy3', 'class': 'Full Stack 4'}

In [13]:
#find_one

my_collection.find_one()

{'_id': ObjectId('64955133d7ac6146571d6fa4'),
 'name': 'Ronak',
 'class': 'Data Science Masters'}

In [ ]:
"""
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.
"""

In [ ]:
#Ans 5:
"""
find() method helps us to query data from the collection of database in MongoDB. We can either query for the entire data in the collection or also
based on some conditions as well.

Below are some examples:

"""

In [14]:
#1. We can fetch the entire data of the collection
for item in my_collection.find():
    print(item)

{'_id': ObjectId('64955133d7ac6146571d6fa4'), 'name': 'Ronak', 'class': 'Data Science Masters'}
{'_id': ObjectId('649552e7d7ac6146571d6fa5'), 'name': 'Krish', 'class': 'Full Stack'}
{'_id': ObjectId('64955403d7ac6146571d6fa6'), 'name': 'Guy1', 'class': 'Full Stack 2'}
{'_id': ObjectId('64955403d7ac6146571d6fa7'), 'name': 'Guy2', 'class': 'Full Stack 3'}
{'_id': ObjectId('64955403d7ac6146571d6fa8'), 'name': 'Guy3', 'class': 'Full Stack 4'}

In [15]:
#2.We can fetch data based on some condition
for item in my_collection.find({"name" : "Krish"}):
    print(item)

{'_id': ObjectId('649552e7d7ac6146571d6fa5'), 'name': 'Krish', 'class': 'Full Stack'}

In [16]:
#3.We can fetch data using operators like $in , $lt , $gt
for item in my_collection.find({"name" : {"$in" : ["Ronak","Krish"]} }):
    print(item)

{'_id': ObjectId('64955133d7ac6146571d6fa4'), 'name': 'Ronak', 'class': 'Data Science Masters'}
{'_id': ObjectId('649552e7d7ac6146571d6fa5'), 'name': 'Krish', 'class': 'Full Stack'}

In [ ]:
"""
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
"""

In [ ]:
#Ans 6:
"""

The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields. It allows you to specify the sorting order, 
whether ascending or descending, for the specified field(s).

Syntax:

my_collection.find().sort({'field',1})  --> Ascending Order
my_collection.find().sort({'field' ,-1}) --> Descending Order

"""

In [25]:
#Sample code:

for item in my_collection.find().sort("name", 1):
    print(item)

{'_id': ObjectId('64955133d7ac6146571d6fa4'), 'name': 'Ronak', 'class': 'Data Science Masters'}
{'_id': ObjectId('649552e7d7ac6146571d6fa5'), 'name': 'Krish', 'class': 'Full Stack'}
{'_id': ObjectId('64955403d7ac6146571d6fa8'), 'name': 'Guy3', 'class': 'Full Stack 4'}
{'_id': ObjectId('64955403d7ac6146571d6fa7'), 'name': 'Guy2', 'class': 'Full Stack 3'}
{'_id': ObjectId('64955403d7ac6146571d6fa6'), 'name': 'Guy1', 'class': 'Full Stack 2'}

In [ ]:
"""
Q7. Explain why delete_one(), delete_many(), and drop() is used.
"""

In [ ]:
#Ans 7:
"""
delete_one() --> Delete one entry from the collection based on some condition.

delete_many() --> Delete one or more entries from the collection based on some condition.

drop() --> To drop a collection from database

In [26]:
#delete_one()
my_collection.delete_one({"name" : "Guy3"})

In [28]:
#delete_many()
my_collection.delete_many({"name" : "Guy2"})

In [30]:
#drop() --> Drops collection Student
my_collection.drop()