In [ ]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""

In [ ]:
#Ans1:
"""
A database is a systematic collection of information or data. It allows us for efficient retrieval of data, we can manipulate it, we can delete it and also 
analyze it and take necessary decisions.

SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL stores data in the form of tables with key field/columns in it to identify a row(as in SQL data are stored in form of rows and columns)
While NoSQL is better for unstructured data like documents or JSON.
"""

In [ ]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""

In [ ]:
#Ans 2:
"""
In the context of SQL, data definition or data description language is a syntax for creating and modifying database objects such as tables, 
indices, and users. DDL statements are similar to a computer programming language for defining data structures, especially database schemas.

---------------------------------------
1.CREATE: The CREATE command is used to create new database objects, such as tables, indexes, views, or stored procedures.
Example:

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Create Database test") #Create Database
mycursor.execute("Create table Employees (
    EmployeeID INT,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
) #Create table


2.DROP: The DROP command is used to delete existing database objects, such as tables, indexes, views, or stored procedures.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Drop Table Employees") #Drops Employees table from database


3. ALTER: The ALTER command is used to modify the structure of an existing database object, such as adding or removing columns, modifying column 
definitions, or renaming objects.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Alter Table Employees Add Department varchar(50)") #Adds a new column department

4.TRUNCATE:The TRUNCATE command is used to delete all data from an existing table, but the table structure and associated objects remain intact.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Truncate Table Employees") #deletes all rows from table Employees but the structure is there.


"""

In [ ]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example
"""

In [ ]:
#Ans 3:
"""
A data manipulation language is a computer programming language used for adding, deleting, and modifying data in a database.

----------------------------------------------------------

1.INSERT: The INSERT command is used to add new rows or records into a table.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Insert into Employees values(1,'Ronak',5000)") #Inserts this row in Employees table

2.UPDATE: The UPDATE command is used to modify existing records within a table.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Update Employees 
                set Name = 'PwSkill',
                Salary = 6000 
                where EmployeeID = 1")# Updates the row with EmployeeID = 1
                
3.DELETE: The DELETE command is used to remove rows or records from a table.

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Delete from Employees where EmployeeID = 1") #Deletes the row with EmployeeID = 1


"""

In [ ]:
"""
Q4. What is DQL? Explain SELECT with an example?
"""

In [ ]:
#Ans 4:
"""
DQL is Data Query Language. DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands 
is to get the schema relation based on the query passed to it.

------------------------------------------------------
The SELECT statement is used in SQL to retrieve data from a database table or tables. It allows you to specify the columns you want to retrieve, 
the table(s) you want to query, and any conditions or filters to apply. 

import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

mycursor = mydb.cursor()
mycursor.execute("Select * from Employees") #Fetches all data from the Employees table

for row in mycursor.fetchall():
    print(row)

"""

In [ ]:
"""
Q5. Explain Primary Key and Foreign Key?
"""

In [ ]:
#Ans 5:
"""
Primary Key: It is the attrbute/column of the table that is always unique and not null. It helps us to get a row from the table uniquely.

Foreign Key: A foreign key is generally used to build a relationship between the two tables. 

Let's see the below example:

Table1: With student details

Create Table Student(
        RollID int primary key,
        name varchar(20),
        address varchar(50)
        );
      
Table2: With Course details

Create Table Courses(
        CourseID int primary key,
        Course Name varchar(30),
        RollID int references Student(RollID)
        ):

Here RollID in Table1 behaves as the primary key. And in Table2 RollID acts as a foreign key and helps to maintain a relation between Student and 
Courses table.

"""

In [ ]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method?
"""

In [ ]:
#Ans 6:
"""
#Code to connect SQL with Python
import sql.connector

mydb = sql.connector.connect(
    host = 'localhost',
    user = 'abc',
    password = 'password'
)

#Cursor
mycursor = mydb.cursor()

#Execute
mycursor.execute("Create Database TestDatabase")

----------------------------------------------------------
Cursor(): This method is used to create a cursor object within a database connection. A cursor is an object that allows you to execute SQL queries
and fetch results from the database.

Execute():method is used to execute SQL statements or queries using the cursor object. It takes the SQL statement as a parameter and can also accept 
optional parameters for query placeholders.

"""

In [ ]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.
"""

In [ ]:
#Ans 7:
"""
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
"""