In [ ]:
"""
Q1. Write a code to print the data present in the second row of the dataframe, df.
"""

In [2]:
#Ans 1:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration =  [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
df.iloc[1,0:]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
"""
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""

"""
Ans: loc is used to find the data based on the row names and column names. Whereas, iloc is used to find data based on the index value of a row and 
column.
"""

In [ ]:
"""
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
"""

In [59]:
#Ans 3:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration =  [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [60]:
new_df = df.reindex([3,0,1,2],axis = 0)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [13]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
"""
The difference is because loc is used to find the data based on the row names and column names. Whereas, iloc is used to find data based on the 
index value of a row and column.
"""

In [ ]:
"""
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
 (i) mean of each and every column present in the dataframe.
 (ii) standard deviation of column, ‘column_2’
"""

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.072450  0.199197  0.266731  0.104040  0.574627  0.577160
2  0.505323  0.822951  0.373929  0.584500  0.630440  0.902619
3  0.303087  0.039734  0.357240  0.163748  0.899540  0.572212
4  0.251229  0.482483  0.248722  0.219631  0.972351  0.827960
5  0.474730  0.771672  0.297550  0.568597  0.467552  0.643219
6  0.119078  0.843708  0.258637  0.435763  0.999712  0.765118

In [21]:
df1.describe()
"""
From the below table we can find the mean of each of the columns and standard deviation of column_2
"""

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.287649  0.526624  0.300468  0.346047  0.757370  0.714715
std    0.178142  0.344853  0.053280  0.210817  0.227446  0.137850
min    0.072450  0.039734  0.248722  0.104040  0.467552  0.572212
25%    0.152116  0.270018  0.260661  0.177719  0.588580  0.593675
50%    0.277158  0.627077  0.282140  0.327697  0.764990  0.704169
75%    0.431819  0.810131  0.342317  0.535389  0.954148  0.812250
max    0.505323  0.843708  0.373929  0.584500  0.999712  0.902619

In [ ]:
"""
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.
If you are getting errors in executing it then explain why.
"""

In [23]:
df1.loc[2,'column_2'] = 'ronak'

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.072450  0.199197  0.266731  0.104040  0.574627  0.577160
2  0.505323     ronak  0.373929  0.584500  0.630440  0.902619
3  0.303087  0.039734  0.357240  0.163748  0.899540  0.572212
4  0.251229  0.482483  0.248722  0.219631  0.972351  0.827960
5  0.474730  0.771672  0.297550  0.568597  0.467552  0.643219
6  0.119078  0.843708  0.258637  0.435763  0.999712  0.765118

In [26]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
"""
We are getting this error because we are trying to add a string to a float type. Hence the TypeError.
"""

In [ ]:
"""
Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?
"""

In [ ]:
"""
Window functions help in computing various statistical and aggregation operations over defined subsets of data, without the need for manual 
loops or iterations. The sliding window size can be customized, allowing you to calculate moving averages, rolling sums, rolling minimums, rolling
maximums, and other rolling statistics.

The primary function used to perform rolling window operations is rolling(), which is available for both DataFrames and Series objects.

Types of window functions in pandas:

1.rolling().mean(): Calculates the rolling mean (moving average) over a specified window.
2.rolling().sum(): Calculates the rolling sum over a specified window.
3.rolling().min(): Calculates the rolling minimum over a specified window.
4.rolling().max(): Calculates the rolling maximum over a specified window.
5.rolling().std(): Calculates the rolling standard deviation over a specified window.
6.rolling().var(): Calculates the rolling variance over a specified window.
7.rolling().apply(): Applies a custom function to the rolling window.
8.rolling().quantile(): Calculates the rolling quantile over a specified window.
9.rolling().cov(): Calculates the rolling covariance with another Series or DataFrame over a specified window.
10.rolling().corr(): Calculates the rolling correlation with another Series or DataFrame over a specified window.
"""

In [27]:
"""
Q7. Write a code to print only the current month and year at the time of answering this question.
"""

#Ans7:
import pandas as pd
current_timestamp = pd.Timestamp.now()

current_month = current_timestamp.month
current_year = current_timestamp.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 7
Current Year: 2023

In [ ]:
"""
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.
"""

In [28]:
import pandas as pd

def calculate_time_difference(start_date, end_date):
    try:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)

        time_difference = end_date - start_date

        days = time_difference.days
        hours, remainder = divmod(time_difference.seconds, 3600)
        minutes, _ = divmod(remainder, 60)

        return days, hours, minutes

    except ValueError:
        return None

# Get input from the user
start_date_input = input("Enter the start date (YYYY-MM-DD): ")
end_date_input = input("Enter the end date (YYYY-MM-DD): ")

# Calculate the time difference
result = calculate_time_difference(start_date_input, end_date_input)

if result is not None:
    days, hours, minutes = result
    print(f"Difference: {days} days, {hours} hours, and {minutes} minutes.")
else:
    print("Invalid date format. Please use the format YYYY-MM-DD.")

Enter the start date (YYYY-MM-DD):  2000-12-31
Enter the end date (YYYY-MM-DD):  2010-12-31

Difference: 3652 days, 0 hours, and 0 minutes.

In [ ]:
"""
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data.
"""

In [57]:
import pandas as pd
import os

class File_error(Exception):
    def __init__(self,msg):
        self.msg = msg
        
class Col_error(Exception):
    def __init__(self,msg):
        self.msg = msg       

def my_func(file,col,order):
    
    try:
        if not os.path.exists(file):
            raise File_error("Enter correct file path")
        else:
            df = pd.read_csv(file)
            
            if col in df.columns:
                cat = pd.Categorical(df[col], ordered = bool(order))
                cat_count = cat.value_counts()
            else:
                raise Col_error("Column is not in file")
                
            return cat_count
        
    except (File_error,Col_error,Exception) as e:
        print(e)
        

file = input("Enter file name: ")
col = input("Enter column name: ")
order = input("Enter order as True or False: ")

my_func(file,col,order)

Enter file name:  services.csv
Enter column name:  service_areas
Enter order as True or False:  True

Alameda County, San Mateo County          2
Belmont, Burlingame                       1
Belmont, Burlingame, East Palo Alto       2
Belmont, East Palo Alto                   1
Colma                                     1
Colma, Daly City, South San Francisco     1
Daly City                                 1
East Palo Alto                            1
San Mateo County                         10
San Mateo County, Alameda County          1
dtype: int64

In [ ]:
"""
Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.
"""

In [ ]:
import pandas as pd

def visualize_sales_data(file_path):
    df = pd.read_csv(file_path)

    df['Date'] = pd.to_datetime(df['Date'])

    sales_by_category = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

    sales_by_category.plot(kind='bar', stacked=True, figsize=(10, 6))

file_path = input("Enter the file path of the CSV containing sales data: ")

visualize_sales_data(file_path)

In [ ]:
"""
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
 The program should do the following
 Prompt the user to enter the file path of the CSV file containing the student data
 Read the CSV file into a Pandas DataFrame
 Calculate the mean, median, and mode of the test scores using Pandas tools
 Display the mean, median, and mode in a table.
 Assume the CSV file contains the following columns
 Student ID: The ID of the student
 Test Score: The score of the student's test.
"""

In [74]:
import pandas as pd

def func(file):
    df = pd.read_csv(file)
    
    mean = df['Test Score'].mean()
    median = df['Test Score'].median()
    mode = df['Test Score'].mode()
    
    data = {
        'Statistic' : ['Mean','Median','Mode'],
        'Value' : [mean,median,int(mode)] 
    }
    
    new_df = pd.DataFrame(data)
    
    return new_df

file_name = input("Enter the file name: ")

func(file_name)

Enter the file name:  student_details.csv

  Statistic  Value
0      Mean   72.5
1    Median   78.0
2      Mode   78.0

In [71]:
df = pd.read_csv('student_details.csv')
    
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()


mode

0    78
Name: Test Score, dtype: int64

In [72]:
mean

72.5

In [73]:
median

78.0

In [75]:
df = pd.read_csv('student_details.csv')
df

   Student ID  Test Score
0           1          85
1           2          78
2           3          88
3           4          97
4           5          66
5           6          55
6           7          78
7           8          46
8           9          45
9          10          87